main {
    margin-top: 10rem;
}



.input-style {
    height: 52px !important;
    padding-left: 1rem !important;
    border: 2px solid var(--primary) !important;
}
.btn-style, .edit-btn-style {
    height: 50px;
}
.edit-btn-style {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}



.right-box,.left-box {
    padding: 5rem 0 !important;
}
ul.list-group-flush li button {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    display: flex;
    align-items: center;
    padding: 1rem 0 !important;
}
ul.list-group-flush li button,
ul.list-group-flush li button:active,
ul.list-group-flush li button:hover,
ul.list-group-flush li button:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
ul.list-group-flush li button.active span{
    font-weight: bold;
    font-size: 1.15rem;
}
ul.list-group-flush li button a {
    text-decoration: none !important;
    color: var(--secondary);
}