/* main */
/* .banner {
    background: url("../img/banner.png") no-repeat;
    height: 70vh;
    background-position: center;
    background-size: cover;
    width: 100%;
}


.title {
    font-family: "Peyda" !important;
    font-weight: bolder;
} */